{% extends "finance_app/dashboard.html" %}

{% load static %}

{% block content %}
<style>
    .summary-container {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
    .summary-table-container {
        width: 70%;
    }
    .summary-table {
        width: 100%;
        border-collapse: separate;
        border-spacing: 0 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    .summary-table th, .summary-table td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }
    .summary-table th {
        background-color: #f4f4f4;
        font-weight: bold;
        border-bottom: 2px solid #ccc;
    }
    .summary-table tr {
        background-color: #ffffff;
        border-bottom: 1px solid #ddd;
    }
    .summary-table tr:nth-child(even) {
        background-color: #f9f9f9;
    }
    .summary-table td ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
    .summary-table td ul li {
        padding: 4px 0;
    }
    .image-container{
        width: 30%;
    }
    .image-container img {
        margin-left: 10px;
        width: 100%;
        height: auto;
        border: 1px solid #ddd;
        margin-top: 10px;
    }
</style>

<h1>Rezumatul cheltuielilor cronologic</h1>

<div class="summary-container">
    <div class="summary-table-container">
        {% if summary %}
            <table class="summary-table">
                <thead>
                    <tr>
                        <th>Luna</th>
                        <th>Buget initial</th>
                        <th>Total cheltuit</th>
                        <th>Buget ramas</th>
                        <th>Detalii per categorie</th>
                    </tr>
                </thead>
                <tbody>
                    {% for month, data in summary.items %}
                        <tr>
                            <td>{{ month }}</td>
                            <td>{{ data.initial_buget }} RON</td>
                            <td>{{ data.total_spent }} RON</td>
                            <td>{{ data.remaining_buget }} RON</td>
                            <td>
                                <ul>
                                    {% for detail in data.details_by_category %}
                                        <li>{{ detail.category }}: {{ detail.total }} RON</li>
                                    {% empty %}
                                        Nu exista detalii disponibile.
                                    {% endfor %}
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>Nu exista date referitoare la bugete anterioare.</p>
        {% endif %}
    </div>
    <div class="image-container">
        <img src="{% static 'images/sumar_cronologic.jpg' %}" alt="Descriptive Alt Text">
    </div>
</div>

{% endblock %}